@model IPagedList<com.ftc.Blog.Models.Article_View_Model>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Post";
    int currentUserId = ViewBag.CurrentUserId;
}

<h2>Post</h2>

<main>
    @using (Html.BeginForm("Index", "Post", FormMethod.Post))
    {
        <p>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { placeholder = "輸入搜尋名稱" })
            <input type="submit" value="搜尋" class="btn btn-primary" />
             <button type="button" class="btn btn-primary" id="addPostButton">發表文章</button>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>標題</th>
                <th>內容</th>
                <th>建立時間</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>
                        <a href="@Url.Action("Index", "Article", new { PostID = item.PostID })">
                            @if (item.Content.Length > 10)
                            {
                                @item.Content.Substring(0, 10)
                            }
                            else
                            {
                                @item.Content
                            }
</td>
                    <td>@Html.DisplayFor(modelItem => item.CreatedTime)</td>
                    <td>
                        @if (User.Identity.IsAuthenticated && item.UserID == currentUserId)
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    @using (Html.BeginForm("ShowEditArticle", "Article", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("PostID", item.PostID)
                                        <input type="submit" value="修改" class="btn btn-primary" />
                                    }
                                </div>
                                <div class="col-md-1">
                                    @using (Html.BeginForm("DeleteArticle", "Article", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("postId", item.PostID)
                                        <input type="submit" value="刪除" class="btn btn-danger" onclick="return confirm('確定要刪除這篇文章?');" />
                                    }
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="pager">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.CurrentFilter }))
    </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript">
            document.getElementById("addPostButton").onclick = function () {
                window.location.href = '@Url.Action("AddArticle", "Article")';
            };

    </script>
}