@model com.ftc.Blog.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Web Blog</h1>
        <p class="lead">Register page</p>
    </section>
    <div class="row">
        <div>
            @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.Account, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Account, new { @class = "form-control", placeholder = "請輸入帳號" })
                        @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">註冊</button>
                        <button type="button" class="btn btn-primary" id="directLoginPageButton">已有帳號了?點選登入</button>
                    </div>
                </div>

            }
        </div>
    </div>
</main>
@section Scripts {
    <script type="text/javascript">
        document.getElementById("directLoginPageButton").onclick = function () {
            window.location.href = '@Url.Action("Login", "Login")';
        };
    </script>
}
